version: '3.8'

services:
  generator-service:
    build: .
    container_name: generator
    ports:
      - "8001:8000"
    volumes:
      - .:/app
    env_file:
      - .env
    networks:
      - jamandflows-network

  mongodb:
    image: mongo:6.0
    container_name: mongodb
    ports:
      - "27017:27017"
    env_file:
      - .env
    volumes:
      - mongo_data:/data/db
    networks:
      - jamandflows-network

networks:
  jamandflows-network:
    external: true

volumes:
  mongo_data:
